.SearchInput {
    width: 100%;
    display: flex;

    @media (min-width: 1200px) {
        max-width: 510px;
    }
}

.input {
    flex-grow: 1;

    padding: 5px 6px;
    border: none;

    &::placeholder {
        color: #929292;
    }

    @media (min-width: 1200px) {
        flex-grow: 0;
        width: 396px;
    }
}

.filterButton {
    width: 24px;
    height: 24px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
